@model IEnumerable<construtech.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

<div class="row my-3">
    <div class="col-md-8"><h2>Empleados</h2></div>
    <div class="col-md-4">
        <a class="btn btn-primary" asp-action="Create"> <span data-feather="user-plus"></span> Agregar empleado </a>
    </div>
</div>

<table id="table" class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                <a class="btn bg-secondary text-white" asp-action="Edit" asp-route-id="@item.Id">Editar <i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
