@model IEnumerable<construtech.Models.Materiale>

@{
    ViewData["Title"] = "Materiales";
}

<div class="row my-3">
    <div class="col-md-8"><h2>Materiales</h2></div>
    <div class="col-md-4">
        <a class="btn btn-primary" asp-action="Create"> <span data-feather="plus"></span> Agregar material </a>
    </div>
</div>

<table id="table" class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                 Categoria
            </th>
            <th>
                 Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCatNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Nombres)
            </td>
            <td>
                    <a class="btn bg-secondary text-white" asp-action="Edit" asp-route-id="@item.Id">Editar <i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
